.navbar{
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    /* color: cadetblue; */
}

.navbar a{
    margin: 10px;
    padding: 6px 10px;
    background-color: #fff;
    color: cadetblue;
    border: 1px solid cadetblue;
    width: 100px;
    text-align: center;
}