.navbar{
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    /* color: cadetblue; */
}

.navbar a{
    margin: 10px;
    padding: 6px 10px;
    background-color: #fff;
    color: cadetblue;
    border: 1px solid cadetblue;
    width: 100px;
    text-align: center;
}


/*drop down*/
/* Nav.css */
.navbar {
    display: flex;
    align-items: center;
  }
  
  .language-switcher {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    background-color: #1d4fa0; /* Main color */
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-button:hover {
    background-color: #3f7fd4; /* Lighter shade on hover */
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .language-switcher:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  